# Analisis Sentimen #100HariPrabowoGibran

## Data Wrangling

### Import Library

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Data Gathering

In [3]:
# data loading
df = pd.read_csv('100-Hari-Prabowo-Gibran.csv')
df.head()

,video_id,username,comment,like_count,published_at,reply_count
0,FZdQNw1AhZM,@arielaja4331,selama nafas masih ada dan sehat jasmani kita...,0,2025-04-13T17:25:55Z,0
1,FZdQNw1AhZM,@syafarudin9810,Percaya dengan pengkhianat .perdy. tapi sutralah,0,2025-04-13T09:12:08Z,0
2,FZdQNw1AhZM,@cholielabiby78,Hargailh\nBeliau sekarang pemimpin kita,0,2025-04-12T17:40:42Z,0
3,FZdQNw1AhZM,@sutar3076,Ini media Pembenci. Mengapa ingin tenar harus ...,0,2025-04-12T06:02:11Z,0
4,FZdQNw1AhZM,@ramasulamto8841,Ah media antek asing,0,2025-04-10T17:12:38Z,0

### Data Asessing

In [4]:
# cek info data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6093 entries, 0 to 6092
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   video_id      6093 non-null   object
 1   username      6091 non-null   object
 2   comment       6092 non-null   object
 3   like_count    6093 non-null   int64
 4   published_at  6093 non-null   object
 5   reply_count   6093 non-null   int64
dtypes: int64(2), object(4)
memory usage: 285.7+ KB

In [5]:
# cek missing value
df.isna().sum()

video_id        0
username        2
comment         1
like_count      0
published_at    0
reply_count     0
dtype: int64

In [6]:
# cek duplikasi data
print("Duplikasi data ada: ", df.duplicated().sum())

Duplikasi data ada:  0

In [7]:
# cek statistik data numerik
df.describe()

        like_count  reply_count
count  6093.000000  6093.000000
mean      4.820942     0.300016
std      52.035053     3.150565
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.000000     0.000000
75%       0.000000     0.000000
max    1905.000000    89.000000

### Data Cleaning